---
import ChevronDown from '../assets/icons/ChevronDown.astro';
import SearchIcon from '../assets/icons/SearchIcon.astro';
import { cn } from '../utils/cn';

interface Props {
  label?: string;
  dropdownButtonText?: string;
  submitButton?: string;
  placeholder?: string;
  dropdownButtons?: string[];
  class?: string;
}

const {
  label,
  dropdownButtonText = 'All',
  submitButton = 'Search',
  placeholder = 'Write here...',
  dropdownButtons = [],
  class: className,
} = Astro.props;
---

<form class={cn('search-with-dropdown', className)}>
  <label for="search-dropdown">{label}</label>
  {
    dropdownButtons.length > 0 &&
      <>
        <button id="dropdown-button" data-dropdown-toggle="dropdown" type="button">
          {dropdownButtonText}
          <ChevronDown class="ms-2.5" />
        </button>
        <div id="dropdown" class="hidden">
          <ul aria-labelledby="dropdown-button">
            {dropdownButtons.map((dropdownButton) => (
              <li>
                <button type="button">{dropdownButton}</button>
              </li>
            ))}
          </ul>
        </div>
      </>
  }
  <div class="input-wrapper">
    <input
      class={cn([{ 'has-dropdown': dropdownButtons.length > 0 }])}
      type="search"
      id="search-dropdown"
      placeholder={placeholder}
      required
    />
    <button type="submit">
      <SearchIcon class="mx-2" />
      <span>{submitButton}</span>
    </button>
  </div>
</form>

<style lang="scss">
  .search-with-dropdown {
    @apply max-w-lg mx-auto;
    display: flex;

    label[for='search-dropdown'] {
      @apply mb-2 text-sm font-medium text-gray-900 sr-only;

      &:is(.dark *) {
        @apply text-white;
      }
    }

    #dropdown-button {
      @apply flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg;

      &:hover {
        @apply bg-gray-200;
      }

      &:focus {
        @apply ring-4 outline-none ring-gray-100;
      }

      &:is(.dark *) {
        @apply bg-gray-700 text-white border-gray-600;

        &:hover {
          @apply bg-gray-600;
        }

        &:focus {
          @apply ring-gray-700;
        }
      }

      svg {
        @apply w-2.5 h-2.5 ms-2.5;
      }
    }

    #dropdown {
      @apply z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44;

      &:is(.dark *) {
        @apply bg-gray-700;
      }

      > ul {
        @apply py-2 text-sm text-gray-700;

        &:is(.dark *) {
          @apply text-gray-200;
        }

        > li > button {
          @apply inline-flex w-full px-4 py-2;

          &:hover {
            @apply bg-gray-100;
          }

          &:is(.dark *) {
            &:hover {
              @apply bg-gray-600 text-white;
            }
          }
        }
      }
    }

    .input-wrapper {
      @apply relative w-full;

      #search-dropdown {
        @apply block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 border border-gray-300 rounded-e-lg;

        &:focus {
          @apply ring-blue-500 border-blue-500;
        }

        &:is(.dark *) {
          @apply border-s-gray-700 border-gray-600 placeholder-gray-400 text-white bg-gray-700;

          &:focus {
            @apply border-blue-500;
          }
        }

        &.has-dropdown {
          @apply border-s-gray-50 border-s-2;

          &:is(.dark *) {
            @apply border-s-gray-700;
          }
        }

        &:not(.has-dropdown) {
          @apply rounded-s-lg;
        }
      }

      button[type='submit'] {
        @apply absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700;

        &:hover {
          @apply bg-blue-800;
        }

        &:focus {
          @apply ring-4 outline-none ring-blue-300;
        }

        &:is(.dark *) {
          @apply bg-blue-600;

          &:hover {
            @apply bg-blue-700;
          }

          &:focus {
            @apply ring-blue-800;
          }
        }

        svg {
          @apply w-4 h-4;
        }

        span {
          @apply sr-only;
        }
      }
    }
  }

  #dropdown {
    > ul {
      list-style: none;
      padding-inline-start: 0;

      > li {
        padding-left: 0;
      }
    }
  }
</style>
