---
import { getCollection, getEntry } from 'astro:content';
import { COLLECTION } from '../../../content/constants';
import { extractAdocFilenamesFromCollection } from '../../../content/extract-adoc-filenames-from-collection';
import Layout from '../../../layouts/Layout.astro';
import { getAdocFileFromCollection } from '../../../content/get-adoc-file-from-collection';
import type { Document } from 'asciidoctor';

export async function getStaticPaths() {
  const adocAppFileNames = await extractAdocFilenamesFromCollection(COLLECTION.APPS);
  const apps = await getCollection(COLLECTION.APPS);

  return [
    ...adocAppFileNames.map((adocAppFileName) => ({ params: { app: adocAppFileName } })),
    ...apps.map((app) => ({ params: { app: app.slug } })),
  ];
}

const { app } = Astro.params;
const entry = await getEntry(COLLECTION.APPS, app);

let appname: string, description: string, doclink: string;
let Content: any;
let adoc: Document | undefined;

if (entry) {
  ({ appname, description, doclink } = entry.data);
  ({ Content } = await entry.render());
} else {
  adoc = await getAdocFileFromCollection(COLLECTION.APPS, app);
  appname = adoc.getAttribute('appname');
  description = adoc.getAttribute('description');
  doclink = adoc.getAttribute('doclink');
}
---

<Layout title={appname}>
  <div class="content markdown">
    <h1>{appname}</h1>
    <p>{description}</p>
    <a href={doclink} rel="noopener noreferrer" target="_blank">{doclink}</a>
    {adoc === undefined ? <Content /> : <Fragment set:html={adoc.convert()} />}
  </div>
</Layout>

<style lang="scss">
  .tags {
    @apply flex flex-wrap gap-2 mb-6;
  }
</style>
